body{
    /*background-image: url(https://media.istockphoto.com/id/1301592082/photo/beautiful-meadow-field-with-fresh-grass-and-yellow-dandelion-flowers-in-nature.jpg?b=1&s=170667a&w=0&k=20&c=NQ7187Kjw4ND93c-oSw1S-U0-JGgA6KE6CxJx71Ah64=);
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment: fixed;
    */
    background-color:#28282B;
}

#navbarFrame{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow: hidden;
    background-color: darkslategray;
    position: sticky;
    top: 0;

}

li{
    float:left;
    padding-right: 2%;
}

li a{
    display: block;
    text-decoration: none;
    color: coral;
    padding: 14px 16px;
    text-align: center;

}

li a:hover{
    background-color:slategray;
}

.icon{
    width: 50px;
    height: 50px;

}
#catPictures{
    padding:2%;
    border:#28282B;
    border-style: solid;
    border-width: 5px;
    width: 300px;
    height:300px;
    
}
#catButton{
    margin-left: 120px;
    background-color:rgb(197, 185, 185);
    transition-duration: .3s;
    border-style:  solid;
    border-color:black;
    width: 100px;
    height: 35px;
    
}
#catButton:hover{
    background-color: slategray;
}

#dogPictures{
    padding:2%;
    border:#28282B;
    border-style: solid;
    border-width: 5px;
    width: 300px;
    height:300px;
    
}

#dogButton{
    margin-left: 120px;
    background-color:rgb(197, 185, 185);
    transition-duration: .3s;
    border-style:  solid;
    border-color:black;
    width: 100px;
    height: 35px;
    
}

#dogButton:hover{
    background-color: slategray;
}

header{
    padding-top: 5%;
    padding-left:5px;
    font-weight: bold;
    font-family:monospace;
    font-size: 500%;
    text-align: center;
}
.column{
    background-color: rgb(52, 42, 42);
    float: left;
    width: 48.5%;
    display:table;
    margin-left:.75%;
    margin-top:5%;
    
}
